.chip {
    display: inline-block;
    padding: 0 25px;
    height: 100px;
    width: 300px;
    font-size: 18px;
    line-height: 75px;
    border-radius: 50px;
    background-color: #f1f1f1;
  }

 
#makemat {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
.iframe-container iframe {
    width: 1200vh;
    height: 1600px;
    border: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.container {
  position: relative;
  margin-top: -3.5em;
  width:  calc(100vw + 15%);
  left: -15%;
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  margin-bottom: 0.7vw;
  left: +10%;
}

.card {
  transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  margin-left: 5%;
  text-align: center; 
}

.jobimg {
  transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 25px;
}

.refcont {
  transition: 0.3s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 80%;
}

.refimg {
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.contactovw  {
  transition: 0.3s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 25px;
  text-align: center;
}

@media(max-width:450px) {
  .mycontainer {
    left: 0px;
  }
  .card{
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    padding-left: 10%;
    overflow: hidden;
  }  
  .refcont {
    grid-template-columns: 1fr;
  }
}

@media(max-width:1150px) {
  .contactovw{
    grid-template-columns: 1fr 1fr;
  }
  .md-content__inner{
    padding: 0.6rem;
  }
}

@media(max-width:720px) {
  .contactovw{
    grid-template-columns: 1fr;
  }
  
}


.contactcontainer{
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  flex: 1;
  left: -25px;
  min-width: 306px;
  margin-bottom: 20px;
  position: relative;
  margin-right: 10px;
  border-style: inset;
  border-color: #D82E1F;
  border-top-style: hidden;
  border-left-style: solid;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-width: .2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.infocontainer{
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  flex: 1;
  min-width: 306px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  margin-right: 60px;
  border-style: inset;
  border-color: #D82E1F;
  border-top-style: hidden;
  border-left-style: solid;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-width: .2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.jobcontainer{
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  flex: 1;
  position: relative;
  padding-right: 5%;
  width: 100%; 
}

.mycontainer {
  top: 0; /* At the bottom. Use top:0 to append it to the top */
  flex: 1;
  position: relative;
  background-color: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color);
  align-content: -5%;
  left: -25px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 20px;
  border-style: inset;
  border-color: #D82E1F;
  border-top-style: hidden;
  border-left-style: solid;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-width: .2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.grid.cards > ol > li, .md-typeset .grid.cards > ul > li, .md-typeset .grid > .card {
  border-left-color: #D82E1F;
  border-left-width: .2rem;
}

.grid.cards > ol > li:focus-within, .md-typeset .grid.cards > ol > li:hover, .md-typeset .grid.cards > ul > li:focus-within, .md-typeset .grid.cards > ul > li:hover, .md-typeset .grid > .card:focus-within, .md-typeset .grid > .card:hover {
  border-left-color: #D82E1F;
  border-left-width: .2rem;
}

.md-typeset [type="checkbox"]:checked + .task-list-indicator::before {
  background-color: #D82E1F;

}


@media only screen and (max-width: 600px) {
  .monitor {
    display: none;
  }
  
  .containerx {
    margin-top: -3.0%;
  }
}

@media only screen and (min-width: 600px) {
  .nomonitor {
    display: none;
  }
}

nav.md-tabs a:hover {
  color:  #D82E1F;
}

.md-tabs__link.md-tabs__link--active {
  font-weight: bold;
}

article {
  margin: 0% !important;
}

:root > * {
  --md-typeset-a-color: #D82E1F;
  --md-accent-fg-color: #D82E1F;
  --md-typeset-mark-color: #1313133a;
  --md-admonition-icon--electrician: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Free 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M575.4 25.72C572.4 10.78 559.2 0 543.1 0H96C80.75 0 67.61 10.78 64.62 25.72l-63.1 320c-1.891 9.406.547 19.16 6.625 26.56S22.41 384 32 384h255.1v64.25h-47.3c-26.26 0-47.75 21.49-47.75 47.75 0 8.844 7.168 16.01 16.01 16l223.1-.167c8.828-.01 15.99-7.17 15.99-16C447.1 469.5 426.6 448 400.2 448h-48.28v-64h256c9.594 0 18.67-4.312 24.75-11.72s8.516-17.16 6.625-26.56l-63.895-320zM517.8 64l19.2 96h-97.98l-9.82-96h88.6zm-137.7 0 9.617 96H250l9.873-96H380.1zm-169.3 0-9.8 96h-97.9l19.18-96h88.52zM71.16 320l22.28-112h102.7L184.6 320H71.16zm162.64 0 11.37-112h149.7l11.33 112H233.8zm221.6 0-11.5-112h102.7l22.28 112H455.4z"/></svg>')
}

@media screen and (max-width: 76.1875em){
  .md-nav--primary .md-nav__title ~ .md-nav__list {
    box-shadow: 0 .1rem 0 #D82E1F inset;
  }
}

/* Underline all links links with class "underline" */
a.underline {
  text-decoration: underline;
}

.md-header__button.md-logo {
  height: 2.8rem;
  width: auto;
  margin-top: -0.3%;
}

.md-header__button.md-logo :is(img, svg) {
  height: 2.3rem;
  width: auto;
}

.md-header__button.md-logo :-webkit-any(img,svg) {
  height: 2.3rem;
}

.md-tabs {
  line-height: 2;
  overflow: auto;
}

.md-tabs__link {
  font-size: .8rem;
  margin-top: .2rem;
}


.md-typeset .admonition.electrician,
.md-typeset details.electrician {
  border-color: #D82E1F;
  border-width: 0.1rem;
  --md-accent-fg-color: #D82E1F;
  
}
.md-typeset .electrician > .admonition-title,
.md-typeset .electrician > summary {
  background-color: #d60f1972;
  --md-accent-fg-color: #D82E1F;
}
.md-typeset .electrician > .admonition-title::before,
.md-typeset .electrician > summary::before {
  background-color: #D82E1F;
  --md-accent-fg-color: #D82E1F;
  -webkit-mask-image: var(--md-admonition-icon--electrician);
          mask-image: var(--md-admonition-icon--electrician);
}

.md-typeset .md-button {
  color: var(--md-primary-bg-color);
}

[data-md-color-scheme="slate"][data-md-color-primary="black"], [data-md-color-scheme="slate"][data-md-color-primary="blue-grey"], [data-md-color-scheme="slate"][data-md-color-primary="grey"], [data-md-color-scheme="slate"][data-md-color-primary="white"] {
  --md-typeset-a-color: #D82E1F;
}

