{% extends "base.html" %}

{% block hero %}
<style>
.containerx {position:relative;}
.brand-banner {position: absolute; top: 6vw;  left: 10vw; background-color:rgba(37, 37, 37, 0.637); min-width: fit-content; min-height: fit-content; padding: 2%;}
.brand-banner h1{font-size:36px;margin:0;padding-top:20px;}
.brand-banner p{padding:10px 0 20px 0;}

.md-tabs {
  margin-top: -40vw;
  margin-bottom: 38vw;
}

/** SLIDESHOW **/
.slideshow {list-style-type: none;}
.slideshow,
.slideshow:after{position: absolute; width: 100%; height: 100%; left: 0%; z-index: 0;}

.slideshow li span {position: absolute; width: 100%; height: 100%; top: 0vw; left: 0vw; color: transparent; background-size: cover; background-position: 50% 50%;  
  background-repeat: repeat; opacity: 0; z-index: 0; animation: imageAnimation 40s linear infinite 0s;}

.slideshow li:nth-child(1) span { 
    background-image: url("assets/DachFrankMike.jpg"); 
}
.slideshow li:nth-child(8) span { 
    background-image: url("assets/ElectricianTransporterAnhaenger.jpg");
    animation-delay: 35s; 
}
.slideshow li:nth-child(2) span { 
    background-image: url("assets/FlachDach.jpg");
    animation-delay: 5s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url("assets/FrankRegenbogen.jpg");
    animation-delay: 10s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url("assets/RobinHannes.jpg");
    animation-delay: 15s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url("assets/GeruestTeam.jpg");
    animation-delay: 20s; 
}
.slideshow li:nth-child(7) span { 
    background-image: url("assets/PVGeruestTeam.jpg");
    animation-delay: 30s; 
}
.slideshow li:nth-child(6) span { 
    background-image: url("assets/SchraekDachGruppe.jpg");
    animation-delay: 25s; 
}


@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1 }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0; animation-timing-function: ease-out; }
}

.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}
</style>


<div class="containerx" style="height: 40vw;">
  <!-- <img src="assets/DachFrankMike.jpg" alt="brand-banner" style="width:100%;">-->

  <ul class="slideshow">
    <li><span></span></li>
    <li><span>2</span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span>2</span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
  </ul>
</div>  
<!-- Side-Nav Stub -->
  <div class="hidden" style="display: none;" data-md-component="navigation"><nav><i></i><i></i></nav></div>
{% endblock %}