body {
    margin: 0;
  }
  
  .wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }
  
  header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88%;
    transform-style: preserve-3d;
    z-index: -1;
  }
  
  .background {
    transform: translateZ(-10px) scale(2);
    width:70%;
  }
  
  .foreground {
    transform: translateZ(-5px) scale(1.5);
    width: 30%;
  }
  
  .background,
  .foreground {
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }
  
  .title {
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;;
  }
  
  section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
  }